/* Estilos para el footer */
footer {
    background-color: lightgray; /* Color de fondo del footer */
    padding: 20px; /* Espaciado interno del footer */
    margin-top: auto; /* Coloca el footer al final */
}