/* Estilos para el header */
header {
    display: flex; /* Usa un modelo de caja flexible */
    padding: 20px; /* Espaciado interno del encabezado */
    background-color: rosybrown; /* Color de fondo del encabezado */
    position: fixed; /* Fija la posición del encabezado */
    width: 100%; /* Ancho completo */
    height: 100px; /* Altura fija */
    top: 0; /* Se coloca en la parte superior */
    z-index: 1000; /* Define la superposición del encabezado sobre otros elementos */
}
