/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    flex-direction: column-reverse;
    margin-bottom: 12px;
}

.login-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.form-wrapper {
    margin: 0 auto;
}

h1 {
    margin-bottom: 30px;
    color: #333;
}

.input-container {
    margin-bottom: 25px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.password-input {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
    font-size: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.submit-button,
.exit-button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.submit-button {
    background-color: #3498db;
}

.exit-button {
    background-color: #e74c3c;
}

.submit-button:hover,
.exit-button:hover {
    background-color: #2980b9;
}

.div-mensaje {
    width: 461px;
    text-align: center;
}

.mensaje {
    background-color: #ff5151;
    margin: 0px;
    color: white;
    padding: 7px;
}

/* Media Queries para tamaños de pantalla más pequeños */
@media screen and (max-width: 768px) {
    .login-form {
        padding: 20px;
        margin: 20px;
    }

    .button-container {
        flex-direction: row;
    }

    .submit-button,
    .exit-button {
        flex: 1;
        margin-right: 5px;
        margin-bottom: 0;
    }
}
