body {
    background-color: rgb(209, 209, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin: 25px;
}

.titulo-crear-producto {
    text-align: center;
    margin-top: 0;
}

.cont-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.text-cont {
    font-size: 15px;
    font-family: arial;
}

.cont-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagen-preview {
    width: 200px;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.btn-guardar {
    background-color: #3aff4a;
    padding: 5px;
    color: black;
    border-radius: 6px;
    border-color: none;
    transition: 0.2s;
}

.btn-guardar:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}

.button {
    padding: 5px;
    margin-top: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}